<!DOCTYPE html>
<html>
<head>
  <title>Forem</title>
  <%= stylesheet_link_tag    "forem/application", :media => "all" %>
  <%= javascript_include_tag "forem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
